html {
  overflow: scroll;
}

header {
  text-align: center;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/From_the_Q113_td_%282018-08-03%29_45_-_Baisley_Park_Houses.jpg/300px-From_the_Q113_td_%282018-08-03%29_45_-_Baisley_Park_Houses.jpg');
  color: red;
  font-size: 50px;
  border: 10px solid yellow;
  padding: 15px;
}

.project_words {
  color: black;
}

body {
  background-image: url('https://thumbs.gfycat.com/ColorlessLikableAlleycat.webp');
 background-size: cover;
  background-size: 100%;
}

.main_article {
  display: flex;
  flex-direction: column;
}

section {
  color: black;
  font-size: 60px;
  text-align: center;
  justify-content: space-evenly;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid yellow;
  font-size: 90px;
  color: green;
  background-color: black;
}

p {
  font-size: 60px;
}

a:link {
  color: red;
}

a:visited {
  color: orange;
}

a:hover {
  color: blue;
}

a:active {
  color: black;
}

.resort {
  justify-content: space-between;
}

.daily_specials {
  font-size: 30px;
  text-align: center;
}

ul {
  list-style: none;
}

.activities {
  font-size: 30px;
}

.footer_div {
  text-align: center;
  font-size: 25px;
}

.footer_div a {
  font-size: 60px;
}